ul li{
	border: 1px solid black;
	list-style: none;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
}

.add button {
	background-color: #A9A9A9;
	border: none;
	color: white;
	font-size: 14px;
	width: 100px;
}

.filter {
	margin-left: 450px;
}

		