ul li{
	list-style: none;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid black;
	text-align: center;
}

.add button {
	background-color: #A9A9A9;
    border: none;
    color: white;
    font-size: 14px;
    width: 100px;
}

.filter {
    margin-left: 450px;
}

		